In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline

In [38]:
pd.__version__

'0.20.1'

In [3]:
tdf = pd.read_json('../Overleaf/write_latex_ops/autocomplete/texData.json')

In [23]:
tdf = tdf.transpose()

AttributeError: 'function' object has no attribute 'transpose'

In [21]:
tdf.head()

AttributeError: 'function' object has no attribute 'head'

In [17]:
tdf.index

Index(['comments', 'environments', 'lineNumber', 'linePosition', 'tokens'], dtype='object')

In [9]:
class TeXData:
    def __init__(self, json_file):
        self.dat = pd.read_json(json_file)
    def _get_commands(self, path):
        for token_list in self.dat[path]:
            if len(token_list) == 5:
                yield token_list[-1]

In [ ]:
td = TeXData('../Overleaf/write_latex_ops/autocomplete/texData.json')

In [27]:
D = {'one': [1,2,3],
     'two': [24,652,2],
     'three': [987,4,7]}
df = pd.DataFrame(D)# index=['one', 'two', 'three'])

In [30]:
df = df.transpose()

In [34]:
df.head()

         0    1  2
one      1    2  3
three  987    4  7
two     24  652  2

In [35]:
df['huh'] = [5,646,666]

In [36]:
df.head()

         0    1  2  huh
one      1    2  3    5
three  987    4  7  646
two     24  652  2  666